<section class="container currency-converter-section">
    <div class="text-center currency-converter-container">
        <h4 class="currency-converter-main-header">Currency converter</h4>
        <div class="currency-converter-sub-container">
            <div class="currency-converter-block">
                <h6 class="currency-converter-block-header">I have:</h6>
                <div class="currency-converter-form-block">
                    <input type="text" class="form-control currency-converter-form-block-input"
                           [(ngModel)]="leftAmount" (input)="setRightAmount()">
                    <select class="form-select currency-converter-form-block-select" (change)="setRightAmount(); setCrossRates()"
                            [(ngModel)]="leftCurrency">
                        <option class="currency-converter-form-block-option" *ngFor="let item of currencyService.getModifiedCurrencyList();"
                                [value]="item">{{item}}</option>
                    </select>

                </div>
                <p class="currency-converter-block-rate">1 {{leftCurrency}} = {{leftCrossRate}} {{rightCurrency}}</p>
            </div>

            <div class="currency-converter-block">
                <h6 class="currency-converter-block-header">I will get:</h6>
                <div class="currency-converter-form-block">
                    <input type="text" class="form-control currency-converter-form-block-input"
                           [(ngModel)]="rightAmount" (input)="setLeftAmount()">
                    <select class="form-select currency-converter-form-block-select" (change)="setLeftAmount(); setCrossRates()"
                            [(ngModel)]="rightCurrency">
                        <option *ngFor="let item of currencyService.getModifiedCurrencyList();"
                                [value]="item">{{item}}</option>
                    </select>
                </div>
                <p class="currency-converter-block-rate">1 {{rightCurrency}} = {{rightCrossRate}} {{leftCurrency}}</p>
            </div>
        </div>

    </div>
</section>

